apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability-system
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
    - job_name: "kgateway"
      kubernetes_sd_configs:
      - role: pod

      relabel_configs:
      # Keep only pods with prometheus.io/scrape = true
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
        action: keep
        regex: "true"

      # Use prometheus.io/path if present, else default /metrics
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
        action: replace
        target_label: __metrics_path__
        regex: (.+)

      # Build the address using pod IP + prometheus.io/port
      - source_labels: [__meta_kubernetes_pod_ip, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        target_label: __address__
        regex: (.+);(.+)
        replacement: $1:$2

      # Helpful labels
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
      - source_labels: [__meta_kubernetes_pod_name]
        target_label: pod
      - source_labels: [__meta_kubernetes_pod_label_gateway_networking_k8s_io_gateway_name]
        target_label: gateway